<section class="section about-section" id="about-us-id">
  <div class="container about-container">
    <div class="component">
      <div class="content-left">
        <div class="content">
          <h2 class="heading">Про Меблерію</h2>
          <p class="text">
            У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі.
            Наша місія - пропонувати високоякісні меблі, що поєднують сучасний дизайн,
            довговічність та доступність.
          </p>
        </div>
      </div>

      <div class="image">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/about/about-us-desktop.jpg 1x, /img/about/about-us-desktop@2x.jpg 2x"
          >
          <source
            media="(min-width: 768px)"
            srcset="/img/about/about-us-tablet.jpg 1x, /img/about/about-us-tablet@2x.jpg 2x"
          >
          <img
            src="/img/about/about-us-mobile.jpg"
            alt="Інтерʼєр меблевого шоуруму"
            srcset="/img/about/about-us-mobile.jpg 1x, /img/about/about-us-mobile@2x.jpg 2x"
            loading="lazy"
            decoding="async"
          >
        </picture>
      </div>
    </div>
  </div>
</section>
