<section class="section about-section" id="about-us-id">
  <div class="container about-container">
    <div class="component"> 
      <!-- Ліва частина — текст -->
      <div class="content-left">
        <div class="content">
          <h1 class="heading">Про Меблерію</h1>
          <p class="text">
            У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі. 
            Наша місія - пропонувати високоякісні меблі, що поєднують у собі сучасний дизайн, 
            довговічність та доступність. Ми віримо, що ідеальний інтер'єр починається з правильних меблів.
          </p>
        </div>
      </div>

      <!-- Права частина — зображення -->
      <div class="image">
        <picture>
          <source 
      media="(min-width: 1440px)" 
      srcset="/img/about/about-us-desktop.jpg 1x, 
              /img/about/about-us-desktop@2x.jpg 2x">
              
              <source 
      media="(min-width: 768px)" 
      srcset="/img/about/about-us-tablet.jpg 1x, 
              /img/about/about-us-tablet@2x.jpg 2x">

          <img 
      src="/img/about/about-us-mobile.jpg" 
      alt="Про Меблерію"
      srcset="/img/about/about-us-mobile.jpg 1x, 
              /img/about/about-us-mobile@2x.jpg 2x">
        </picture>
      </div>
    </div>
  </div>
</section>
