<section class="container question-container" id="faq-section-id">
  <h2 class="question-header">Часті питання</h2>
  <ul class="faq-list accordion-container">
    <li class="faq-item">
      <h3 class="question-item-container">
        <button type="button" class="faq-btn">
          <span class="question-text">Як здійснюється доставка меблів?</span>

          <svg class="answer-trigger">
            <use href="/img/faq-icon.svg#icon-answer"></use>
          </svg>
        </button>
      </h3>
      <div class="answer-text">
        <p class="answ-txt">
          Ми доставляємо замовлення по всій Україні через надійні служби. Термін
          доставки зазвичай складає 3–7 днів залежно від регіону.
        </p>
      </div>
    </li>
    <li class="faq-item">
      <h3 class="question-item-container">
        <button type="button" class="faq-btn">
          <span class="question-text"
            >Чи є можливість вибрати колір або матеріал?</span
          >
          <svg class="answer-trigger">
            <use href="/img/faq-icon.svg#icon-answer"></use>
          </svg>
        </button>
      </h3>
      <div class="answer-text">
        <p class="answ-txt">
          Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі
          доступні опції вказані на сторінці товару.
        </p>
      </div>
    </li>
    <li class="faq-item">
      <h3 class="question-item-container">
        <button type="button" class="faq-btn">
          <span class="question-text"
            >Чи можна повернути товар, якщо він не підійшов?</span
          >
          <svg class="answer-trigger">
            <use href="/img/faq-icon.svg#icon-answer"></use>
          </svg>
        </button>
      </h3>
      <div class="answer-text">
        <p class="answ-txt">
          Так, ви можете повернути товар протягом 14 днів, якщо він не був у
          користуванні та збережений у первинному вигляді.
        </p>
      </div>
    </li>
    <li class="faq-item">
      <h3 class="question-item-container">
        <button type="button" class="faq-btn">
          <span class="question-text"
            >Чи надаєте ви послугу збирання меблів?</span
          >
          <svg class="answer-trigger">
            <use href="/img/faq-icon.svg#icon-answer"></use>
          </svg>
        </button>
      </h3>
      <div class="answer-text">
        <p class="answ-txt">
          Так, під час оформлення замовлення можна обрати послугу збирання. Наші
          майстри зберуть меблі у зручний для вас час.
        </p>
      </div>
    </li>
    <li class="faq-item">
      <h3 class="question-item-container">
        <button type="button" class="faq-btn">
          <span class="question-text">Як здійснити оплату?</span>
          <svg class="answer-trigger">
            <use href="/img/faq-icon.svg#icon-answer"></use>
          </svg>
        </button>
      </h3>
      <div class="answer-text">
        <p class="answ-txt">
          Ми приймаємо оплату карткою онлайн, банківським переказом або
          післяплатою при отриманні.
        </p>
      </div>
    </li>
  </ul>
</section>
