<section class="feedback" id="feedback">
  <div class="container feedbacks-container">
    <div class="feedbacks-title">
      <h2 class="feedbacks-heading">Відгуки клієнтів</h2>
      <p class="feedbacks-text">
        Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
      </p>
    </div>

    <div class="feedback-swiper swiper">
      <ul class="feedback-list swiper-wrapper" id="feedback-list">
        </ul>
      <div class="feedback-controls">
        <ul class="swiper-pagination feedback-dots"></ul>
        <div class="swaper-btn-subbox">
          <button type="button" class="swiper-button-prev">
            <svg class="swiper-svg-button-prev" width="24" height="24">
              <use href="./img/icons-feedback.svg#icon-left-arrow-alt"></use>
            </svg>
          </button>
          <button type="button" class="swiper-button-next">
            <svg class="swiper-svg-button-next" width="24" height="24">
              <use href="./img/icons-feedback.svg#icon-right-arrow-alt"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

