<div class="order-backdrop is-hidden" data-order-modal>
  <div class="order-modal">
    <button type="button" class="order-close-btn" data-order-modal-close>
      &times;
    </button>

    <h2 class="order-title">Замовити зворотний зв'язок</h2>

    <form class="order-form" novalidate>
      <div class="order-form-field">
        <label class="order-form-label" for="user-name">Ім'я*</label>
        <input
          class="order-form-input"
          type="text"
          name="userName"
          id="user-name"
          placeholder="Дмитро"
          required
        />
        <p class="error-text">Тільки букви (мінімум 2)</p>
      </div>

      <div class="order-form-field">
        <label class="order-form-label" for="user-phone">Телефон*</label>
        <input
          class="order-form-input"
          type="tel"
          name="userPhone"
          id="user-phone"
          placeholder="38 099 123 22 11"
          required
        />
        <p class="error-text">Введіть 12 цифр</p>
      </div>

      <div class="order-form-field">
        <label class="order-form-label" for="user-comment">Коментар</label>
        <textarea
          class="order-form-textarea"
          name="userComment"
          id="user-comment"
          placeholder="Введіть ваш коментар"
        ></textarea>
      </div>
      <button class="order-submit-btn" type="submit">Надіслати заявку</button>
    </form>
  </div>
</div>
